{% extends 'base.html.twig' %}

{% block title %}{{opcio |capitalize }} Curs - Prova Esneca{% endblock %}

{% block body %}
    <p class="d-flex justify-content-start">
        <a href="{{path('cursos_inici') }}" class="btn btn-esneca">
            <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Tornar
        </a>
    </p>

    <h1 class="text-center">{{opcio |capitalize }} curs</h1>
    
    
    {# Mostrar errors (BANDA SERVIDOR) #}
    {% for missatge in app.flashes('missatge') %}
        <div class="alert alert-{{ app.flashes('css')[0] }} alert-dismissible fade show" role="alert">
        {{missatge}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <ul>
                {% for camp, error in errors %}
                    <li><strong>{{ camp }}: </strong>{{ error }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}


    <div id="seccio-formulari-curs">
        {# Rep el codi del formulari en funci칩 de l'opci칩. El controlador s'encarrega d'elegir el adient #}
        {# Ruta Formulari AFEGIR: /templates/cursos/formularis/afegir.html.twig #}
        {# Ruta Formulari EDITAR: /templates/cursos/formularis/editar.html.twig #}
        {{formulariHtml | raw}}
    </div>


    {# Carrega dels Scripts de Regles y v치lidacions de formulari #}
    {% block javascripts %}
        {{ parent() }}
        
        {# Per fer proves de Validaci칩 al Servidor
            TRUE (DESACTIVA jQuery Validate): Desactiva les validacions del formulari al client (Jquery Validate)
            FALSE (ACTIVA jQuery Validate)
        #}
        {% set debugServerValidation = false %}
        {% if not debugServerValidation %}
            <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('js/form/validar_form.js') }}"></script>
        {% endif %}

    {% endblock %}
    

{% endblock %}
