{% extends 'base.html.twig' %}

{% block title %}Cursos - Prova Esneca{% endblock %}

{% block body %}
    <h1>Cursos</h1>

    {# Mostrar errors y missatges de creació correcta (BANDA SERVIDOR) #}
    {% for missatge in app.flashes('missatge') %}
        <div class="alert alert-{{ app.flashes('css')[0] }} alert-dismissible fade show" role="alert">
        {{missatge}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <p class="d-flex justify-content-end gap-1">
        <a href="{{path('cursos_afegir') }}" class="btn btn-esneca">
            <i class="fas fa-plus"></i>&nbsp;&nbsp;Crear
        </a>

        <a href="{{ path('cursos_llistat_AJAX') }}" id="btn-refrescar-llistat" class="btn btn-esneca">
            <i class="fas fa-sync"></i>&nbsp;&nbsp;Refrescar
        </a>
    </p>
    {# La taula es pot recerregar desde AJAX #}
    <div id="seccio-llistat-cursos">
        {# Per una carrega de la web general, Rep la taula processada amb HTML a través de variable enviada desde el controlador #}
        {# Ruta Arxiu Processament Taula: /templates/cursos/taulaCursos.html.twig #}
        {{taulaCursosHtml | raw}}
    </div>

    <a href="{{ path('cursos_suma_hores_AJAX') }}" id="btn-suma-hores-cursos" class="btn btn-esneca">
        <i class="fas fa-calculator"></i>&nbsp;&nbsp;Calcular Hores
    </a>

    {# IMPRIMIR HORES Totals dels cursos via AJAX#}
    <div id="seccio-total-hores"></div>

{% endblock %}
