<form id="form_afegir" method="POST" action="{{path('cursos_afegir') }}">

    {# VALIDACIO DESDE SERVIDOR - mostrar errors #}
    {{ form_errors(formulari_afegir) }}

    <div class="form-group mb-3">
        {{ form_label(formulari_afegir.nom) }}
        {{ form_widget(formulari_afegir.nom, {"required": true, "attr":{} }) }}
        {{ form_help(formulari_afegir.nom)}}
    </div>

    <div class="form-group mb-3">
        {{ form_label(formulari_afegir.data_inici) }}
        {{ form_widget(formulari_afegir.data_inici, {"required": true, "attr":{"type":"date"} }) }}
        {{ form_help(formulari_afegir.data_inici) }}
    </div>

    <div class="form-group mb-3">
        {{ form_label(formulari_afegir.data_fi) }}
        {{ form_widget(formulari_afegir.data_fi, {"required": true, "attr":{} }) }}
        {{ form_help(formulari_afegir.data_fi) }}
    </div>

    <div class="form-group mb-3">
        {{ form_label(formulari_afegir.duracio) }}
        {{ form_widget(formulari_afegir.duracio, {"required": true, "attr":{} }) }}
        {{ form_help(formulari_afegir.duracio) }}
    </div>

    <div class="form-group mb-3">
        {{ form_label(formulari_afegir.preu) }}
        {{ form_widget(formulari_afegir.preu, {"required": true, "attr":{} }) }}
        {{ form_help(formulari_afegir.preu) }}
    </div>
    
    {# Protecció CSRF - es validará posteriorment al controlador de forma manual  #}
    <input type="hidden" name="tokenAleix" value="{{ csrf_token('curs_token') }}"/>

    <button type="submit" title="enviar" class="btn btn-esneca"><i class="fas fa-check"></i> Guardar</button>

</form>