<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/cropped-Esneca-100x100.png') }}" />

        <title>{% block title %}Prueba Cursos Esneca{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/custom_global.css')}}" />
            <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.min.css'))}}" />
            <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('fontawesome-5-8/css/all.css')) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('css/sweetalert2.css')) }}" />
        {% endblock %}
 
    </head>
    <body class="d-flex flex-column min-vh-100">
        
        {% block topHeader %}
            <div id="top-header">
                <div class="container p-2">
                    <div class="contact-info d-flex gap-3">
                        <a href="tel:+34910059127">
                            <i class="fas fa-phone"></i>
                            <span>91 005 91 27</span>
                        </a>
                        <a href="mailto:comercial@esneca.com">
                            <i class="fas fa-envelope"></i>
                            <span>comercial@esneca.com</span>
                        </a>
                        <a href="https://web.whatsapp.com/send/?phone=34629253733&amp;text=Hola+%2AEsneca%2A%2C+solicito+informaci%C3%B3n." target="_blank">
                            <i class="fab fa-whatsapp"></i>
                            <span>629 253 733</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block header %}
            {# capa per evitar desplaçaments i pensalitzacions de CLS #}
            <div id="header-main-space"></div>

            <div id="header-main">
                <div class="container">
                    <header class="d-flex justify-content-center py-3">
                        <div class="header-logo">
                            <a href="{{path('home_inici')}}">
                                <img src="{{absolute_url(asset('img/Esneca-Bussiness-School.png'))}}" />
                            </a>
                        </div>
                    </header>
                </div>
            </div>
        {% endblock %}


        <!-- inyectaremos aquí el contenido desde las otras plantillas -->
        <div class="flex-fill container my-4">
        {% block body %}{% endblock %}
        </div>

        {# PIE PÁGINA (FOOTER)#}
        {% block footer %}
        
            <footer class="footer mt-auto">
                <div class="container p-3 text-center">
                    {% set dateNow = "now"|date("Y") %}
                    {% set author = 'Aleix Alañá Piñol' %}
                    <span class="text-muted">{{ 'Creat per %author% &copy; %dates%' |trans({'%dates%' : dateNow,'%author%' : author}, 'global')|raw }}</span>
                </div>
            </footer>

            
        {% endblock %}

        {% block javascripts %}
            
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

            <script src="{{ absolute_url(asset('js/bootstrap.min.js')) }}"></script>
            
            <script src="{{ asset('js/funcions_global.js') }}"></script>
            <script src="{{ asset('js/ajax/ajax_functions.js') }}"></script>
            <script type="text/javascript" src="{{ absolute_url(asset('js/sweetalert2.js')) }}"></script>
        {% endblock %}
    </body>
</html>
